<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="77fd62">  <td>21/09/28 15:47:46</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;CricinfoImplement.startReport()[pri:0, instance:espn.cricinfo.CricinfoImplement@2053d869]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1727361096</td>   <td></td> </tr>
<tr bgcolor="77fd62">  <td>21/09/28 15:48:47</td>   <td>61297</td> <td>&nbsp;</td><td title="&lt;&lt;CricinfoImplement.endReport()[pri:0, instance:espn.cricinfo.CricinfoImplement@2053d869]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1727361096</td>   <td></td> </tr>
<tr bgcolor="77fd62">  <td>21/09/28 15:47:46</td>   <td>230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CricinfoImplement.cricInfoRun()[pri:0, instance:espn.cricinfo.CricinfoImplement@2053d869]">cricInfoRun</td> 
  <td>main@1727361096</td>   <td></td> </tr>
</table>
